.NavLinkbutton {
    background: #000;
    color: #fff;
    font-weight: 700;
    padding: 8px 22px;
    border-radius: 999px;
}

@media (max-width: 768px) {
    .NavLinkbutton {
        padding: 6px 18px;
        font-size: 1rem;
    }
}

@media (max-width: 500px) {
    .NavLinkbutton {
        padding: 4px 14px;
        font-size: 0.8rem;
    }
}