.Row {
    display: flex;
    justify-content: center;
}

.Row iframe {
    width: 90%;
    height: 800px;
    border-radius: 10px;
    box-shadow: var(--boxShadow);
}

@media (max-width: 768px) {
    .Row iframe {
        width: 100%;
        height: 400px;
    }
}