/* For Font Family */
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');

:root {
  --main: #372f10;
  --boxShadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cinzel Decorative", system-ui;
  text-decoration: none;
  transition: 0.1s ease-in;
}

*::selection {
  background: var(--main);
  color: #fff;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--main);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

body {
  background: linear-gradient(135deg, #0e121d, #080b1d, #0F0C29);
  height: 100vh;
  color: #fff;
}