 .CustomMainBg img {
     width: 100%;
     object-fit: contain;
     display: flex;
     justify-content: center;
     align-items: center;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     background-attachment: fixed;
     height: max-content;
 }