.Custom {
    margin-block: 40px;
}

.Custom .Row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.Custom .Row div {
    width: 50%;
    overflow: hidden;
}

.Custom .Row img {
    height: 500px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: var(--boxShadow);
}

.Custom .Row div h6 {
    font-weight: 900;
    font-size: 30px;
    margin-bottom: 10px;
    background: -webkit-linear-gradient(#eee, var(--main));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media(max-width:1050px) {

    .Custom .Row {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 70px;
        border-bottom: 0.2px dashed #ccc;
    }

    .Custom .Row div {
        width: 100%;
    }
}

@media(max-width:500px) {
    .Custom .Row div h6 {
        font-weight: 900;
        font-size: 20px;
    }

    .Custom .Row img {
        height: 300px;
        width: 100%;
    }
}